
<section id="stats">
  <h3>Shelter Statistics</h3>
  <h4>Pet Count: <%= @shelter.pets.count %></h4>
  <h4>Average Review Rating: <%= @shelter.reviews.average(:rating).to_i %></h4>
  <h4>Adoptions On File: <%= @count_of_adoptions %></h4>
  </section>
<h2><%= @shelter.name %></h2>

<ul>
  <li><p1>Shelter address:  &nbsp</p1><p><%= @shelter.address %></p></li>
  <li><p1>Shelter city:  &nbsp</p1><p><%= @shelter.city %></p></li>
  <li><p1>Shelter state:  &nbsp</p1><p><%= @shelter.state %></p></li>
  <li><p1>Shelter zip code:  &nbsp</p1><p><%= @shelter.zip %></p></li>
</ul>
<h4><%= link_to "Edit #{@shelter.name}", "/shelters/#{@shelter.id}/edit" %></h4></br>
<% if @count == 0 %>
  <h4><%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %></h4></br>
<% end %>
<h4><%= link_to "View #{@shelter.name} pets", "/shelters/#{@shelter.id}/pets" %></h4></br>


<h2>Shelter<%= @shelter.name%> Reviews </h2>
  <% @reviews.each do |review| %>
  <section id="shelter-<%= review.id %>">
    <% if review.opt_picture != nil %>
      <img src=<%= review.opt_picture %>>
    <% end %>
    <h3>Title:<%= review.title %></h3>
    <h4>Rating:<%= review.rating %></h4>
    <h4>Content:<%= review.content %></h4>
    <h4><%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit" %>
    <h4><%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", method: :delete %></h4>
    </section>
    </br>
  <% end %>

<h4><%= link_to "Create new review", "/shelters/#{@shelter.id}/new_review" %></h4>
