<h2><%= @shelter.name %></h2>
<section class="grid">
<section id="stats">
  <ul>
    <h5>Shelter Statistics</h5>
    <li><p1>Pet Count: &nbsp </p1><p><%= @shelter.pets.count %></p></li>
    <li><p1>Average Review Rating: &nbsp</p1><p><%= @shelter.reviews.average(:rating).to_i %></p></li>
    <li><p1>Adoptions On File: &nbsp </p1><p><%= @count_of_adoptions %></p></li>
  </ul>
</section>
<ul>
  <h5>Shelter Info</h5>
  <li><p1>Shelter address: &nbsp</p1><p><%= @shelter.address %></p></li>
  <li><p1>Shelter city: &nbsp</p1><p><%= @shelter.city %></p></li>
  <li><p1>Shelter state: &nbsp</p1><p><%= @shelter.state %></p></li>
  <li><p1>Shelter zip code: &nbsp</p1><p><%= @shelter.zip %></p></li>
</ul>

<ul>
  <h5>Modify Shelter</h5>
  <li><p><%= link_to "Edit #{@shelter.name}", "/shelters/#{@shelter.id}/edit" %><p></li>
  <li><p><%= link_to "Delete #{@shelter.name}", "/shelters/#{@shelter.id}", method: :delete %></p></li>
  <li><p><%= link_to "View #{@shelter.name} pets", "/shelters/#{@shelter.id}/pets" %></p></li>
</ul>

</section>

<h2><%= @shelter.name%> Reviews </h2>
  <% @reviews.each do |review| %>
  <section class="shelter-reviews">
  <section id="shelter-<%= review.id %>">
    <% if review.opt_picture != nil %>
    <section class="img">
      <img src=<%= review.opt_picture %>>
      </section>
    <% end %>
    <ul>
      <li><p1>Title: &nbsp</p1><p><%= review.title %></p></li>
      <li><p1>Rating:&nbsp </p1><p><%= review.rating %></p></li>
      <li><p1>Content: &nbsp</p1><p><%= review.content %></p></li>
      <li><p><%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit" %></p></li>
      <li><p><%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", method: :delete %></p></li>
    </ul>
    </section>
    <br>
  <% end %>
  <p><%= link_to "Create new review", "/shelters/#{@shelter.id}/new_review" %><p>
</section>
