<h1> Open Adoption Applications </h1>

  <h4>Applicant name: <%= @adopt.name %></h4><br>
  <h4>Applicant name: <%= @adopt.address %></h4><br>
  <h4>Applicant city: <%= @adopt.city %></h4><br>
  <h4>Applicant state: <%= @adopt.state %></h4><br>
  <h4>Applicant zip: <%= @adopt.zip %></h4><br>
  <h4>Applicant phone: <%= @adopt.phone %></h4><br>
  <h4>Applicant description: <%= @adopt.description %></h4><br>


  <h1> Pets applied for</h1>
