<h1> Open Adoption Applications </h1>

  <h4>Applicant name: <%= @adopt.name %></h4><br>
  <h4>Applicant name: <%= @adopt.address %></h4><br>
  <h4>Applicant city: <%= @adopt.city %></h4><br>
  <h4>Applicant state: <%= @adopt.state %></h4><br>
  <h4>Applicant zip: <%= @adopt.zip %></h4><br>
  <h4>Applicant phone: <%= @adopt.phone %></h4><br>
  <h4>Applicant description: <%= @adopt.description %></h4><br>


  <h1> Pets applied for</h1>
  <section id="applied_for_adoptions">
    <% @pets.each do |pet| %>
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <% if pet.adoptable? %>
        <h4><%= link_to "Approve #{pet.name} adoption", "/pets/#{pet.id}/pet_adopts", method: :patch %> </h4>
      <% else %>
        <h4><%= link_to "Revoke #{pet.name} adoption", "/pets/#{pet.id}/pet_adopts", method: :patch %></h4>
      <% end %>
    <% end %>
    <h4>On hold for <%= @adopt.name %></h4>
  </section>
