
<h1>Your Favorite Pets</h1>
<% if favorite_pets %>
  <% favorite_pets.pets.each do |id, info_hash| %>
  <section id="favorite-<%= id %>">
    <img src=<%= info_hash["image"] %>>
    <h4><%= link_to "#{info_hash["name"]}", "/pets/#{id}" %></h4><br>
    <h4><%= button_to "Remove #{info_hash["name"]}", "/favorites/#{id}", method: :delete %></h4><br>
  </section>
  <% end %>
  <% else %>
  <p><%= "Go Look For Your Fur-ever Friends On Our Site" %></p>
<% end %>
<h3><%= button_to "Remove All Favorited Pets", "/favorites", method: :delete %></h3>
