<h1>Add a new pet to <%= @shelter.name%></h1>

<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
<%= label_tag :image_link %>
<%= text_field_tag :image %></br>

<%= label_tag :name %>
<%= text_field_tag :name %></br>

<%= label_tag :description %>
<%= text_field_tag :description %></br>

<%= label_tag :approximate_age %>
<%= text_field_tag :approximate_age %></br>

<%= label_tag :sex %>
<%= select_tag :sex, options_for_select(["Male", "Female"]) %></br>

<%= submit_tag "Create new pet" %>

<% end %>
