<h2> <%= @pet.name %></h2>

<img src= <%= @pet.image %>></br>
<ul>
<li><p1>Description: &nbsp </p1><p> <%= @pet.description %></p></li>
<li><p1>Age:&nbsp</p1><p> <%= @pet.approximate_age %></p></li>
<li><p1>Sex: &nbsp </p1><p> <%= @pet.sex %></p></li>
<li><p1> Adoption Status: &nbsp </p1><p><% if @pet.adoptable %>
      Adoptable
    <% else %>
      Pending Adoption
    <% end %></p></li>
<li><p1>Current shelter:&nbsp</p1><p> <%= link_to "#{@pet.shelter&.name}", "/shelters/#{@pet.shelter_id}" %></p></li>
</ul>
<%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit" %></br>
<%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %>
