<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

   <!-- <header class="navbar  navbar-inverse"> -->
     <!-- <div class="navbar-class">
       <div class="container"> -->

         <nav>
           <nav_items><li><%= link_to "View all pets", "/pets" %></li></nav_items>
           <nav_items><li><%= link_to "View all shelters", "/shelters" %></li></nav_items>
           </nav>
    <%= yield %>
  </body>
</html>
